:root {
    --fondo-cabecera: #0f172a;       /* Slate 900 */
    --fuente: Helvetica;
    --transicion: all 0.3 ease;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

}

/*Cabecera*/
#cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fondo-cabecera);
    padding: 1.25rem 2rem;
}
#cabecera h1{
    font-size: 1.5rem;
    font-family: var(--fuente);
    color: white;
}
#enlace_api{
    background-color: var(--fondo-cabecera);
    color:white;
    border: 1px solid white;
    padding: 0.5rem 1.25rem;
    border-radius: 0.5rem;
    font-family: var(--fuente);
    font-size: 0.85rem;
    transition:var(--transicion);
}
#enlace_api:hover{
    background-color: white;
    color:var(--fondo-cabecera);
}

/*Menu*/
#menu{
    background-color:white;
    padding:0.75rem 2rem;
    border-bottom: 1px solid #2e3d52;
}
#icono_menu{
    background-color: white;
    color:var(--fondo-cabecera);
    border: 1px solid var(--fondo-cabecera);
    border-radius: 0.35rem;
    padding: 0.5rem 1.25rem;
    font-family: var(--fuente);
    font-size: 0.85rem;
    font-weight: 600;
    transition: var(--transicion);
    cursor: pointer;
}
#icono_menu:hover{
    background-color: var(--fondo-cabecera);
    color: white;
}
#listaMenu{
    display: none;
    list-style: none;
    margin-top: 2rem;
    animation: fadeIn 1s ease-out;
}
#listaMenu.visible{
    display: grid;
}
#listaMenu li{
    background-color: white;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--fondo-cabecera);
    font-family: var(--fuente);
    font-size: 0.85rem;
    text-align: center;
    cursor: pointer;
    transition: var(--transicion);
}
#listaMenu li:hover{
    background-color: var(--fondo-cabecera);
    color: white;
    transform: translateY(-2px);
}